@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: white;

}


@layer components {
    .app {
      max-width: 1740px;
      margin: 0 auto;
      margin-top: 120px;
    }

    .input {
      @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
    }

    .transitioning {
      @apply transition duration-300 ease-in-out transform hover:scale-105;
    }
}


@layer utilities {
    .padding {
      @apply sm:px-8 sm:py-8 md:py-4 md:px-8 px-8 py-2;
    }

    .green_gradient {
      @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
    }

    .head_text {
      @apply mt-5 text-6xl font-extrabold leading-[1.15] text-black sm:text-6xl;
    }

    .logo_text {
      @apply max-sm:hidden font-semibold text-lg text-white tracking-wide;
    }

    .desc {
      @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
    }

    .font-semi-thick{
      @apply font-light;
    }

    .text-semi-dark{
      @apply text-slate-900;
    }

    .padding-x {
      @apply sm:px-16 px-8;
    }

    .padding-y {
      @apply sm:py-24 py-12;
    }

    .padding-l {
      @apply sm:pl-16 pl-8;
    }

    .padding-r {
      @apply sm:pr-16 pr-8;
    }

    .padding-t {
      @apply sm:pt-24 pt-12;
    }

    .padding-b {
      @apply sm:pb-24 pb-12;
    }


    .border-card{
      @apply ring-stone-800 ring-[12px] rounded-lg;
    }

    .ul-li-style{
      @apply hover:text-coral-red transitioning p-4 hover:shadow-shadow-1;
    }

    /* Custom Checkbox Styling */
    .checkbox {
      @apply appearance-none h-4 w-4 border-none rounded bg-gray-200 checked:bg-red-500 checked:ring-0;
    }

    .checkbox:focus {
        @apply ring-2 ring-red-500;
    }

    .download-btn {
      @apply p-3 rounded-md bg-gradient-to-r from-violet-500 to-fuchsia-500;
    }



    .textarea-control{
      @apply p-4 w-[300px] xl:w-[630px] h-[200px] shadow-inner bg-gray-200 outline-none mt-2 rounded-lg focus-within:border-2 border-pink-500;
    }

    .form-button {
      @apply bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white py-4 px-4 rounded;
    }

  }
