@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    height: 100vh;
}


@layer components {
    .app {
      max-width: 1740px;
      margin: 0 auto;
      margin-top: 120px;
    }

    .transitioning {
      @apply transition duration-300 ease-in-out transform hover:scale-105;
    }
}


@layer utilities {
    .padding {
      @apply sm:px-8 sm:py-8 md:py-4 md:px-8 px-8 py-2;
    }

    .green_gradient {
      @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
    }

    .head_text {
      @apply mt-5 xl:text-4xl font-extrabold xl:leading-[1.4] text-green-900 sm:text-3xl;
    }

    .subhead_text {
        @apply text-gray-500 tracking-widest leading-6 text-lg
    }


    .heading_color {
        @apply text-green-900
    }

    .subheading_text {
        @apply text-green-900 text-3xl font-extrabold;
    }

    .sub_text {
        @apply text-gray-600 tracking-wide leading-6 text-base;
    }

    .featured_text{
        @apply text-green-900 text-2xl font-bold;
    }





    .download-btn {
      @apply p-3 rounded-md bg-gradient-to-r from-violet-500 to-fuchsia-500;
    }



    .textarea-control{
      @apply p-4 w-[300px] xl:w-[630px] h-[200px] shadow-inner bg-gray-200 outline-none mt-2 rounded-lg focus-within:border-2 border-pink-500;
    }

    .form-button {
      @apply bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white py-4 px-4 rounded;
    }

  }
